:root {
    --background-color: #F6F6F6;
    --background2-color: #FFFFFF;
    --azul01: #001D3F;
    --azul02: #0C326C;
    --azul03: #0052B5;
    --azul04: #0481BE;
    --preto: #0B0B0B;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;


}   

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
    
    background-color: var(--background-color);
    height: 1000vh;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
    width: auto;
    min-height: 10vh;
   
   
    margin: 4vh 4vh 4vh 4vh;
    padding: 10px 20px;
    
    border-radius: 2.9vh;
    box-shadow: 
    -3px 11px 10px 2px rgba(191, 191, 191, 0.13), 
    -3px 7px 13px 0px rgba(191, 191, 191, 0.24), 
    -3px 5px 6px 0px rgba(102, 88, 160, 0.14);
    background-color: #ffffff;
    
    gap: 20px;

    

    
}


.botaoLogin{
    background-color: #0C326C;
   
    width: auto;
    min-width: 80px;
    height: 50px; 
    padding: 0 20px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
    cursor: pointer;

    border-radius: 1vh;
    font-size: 0.44rem;
    font-family: var(--font-primary);
    transition: 0.3s;
    gap: 6px;
}




.botaoLogin:hover{
    background-color: var(--azul03);
    transition: 1s;
    box-shadow: 
    -3px 11px 10px 2px rgba(191, 191, 191, 0.13), 
    -3px 7px 13px 0px rgba(191, 191, 191, 0.24), 
    -3px 5px 6px 0px rgba(102, 88, 160, 0.14);
}

#imglogo{
    width: auto;
    height: 7vh;
    max-height: 60px;
    display: block;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    

    gap: 20px;

    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}


.pesquisa{
    cursor: pointer;
}


footer{
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;

    width: 100%;
    color: var(--color-neutral-40);
}

#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts p{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.search-fixed-bottom{
   
    
 
   
   
    margin: 3
    vh 20vh 5vh 20vh;
    padding: 9px 17px 9px 9px;
    
    border-radius: 2.9vh;
    box-shadow: 
    -3px 11px 10px 2px rgba(191, 191, 191, 0.13), 
    -3px 7px 13px 0px rgba(191, 191, 191, 0.24), 
    -3px 5px 6px 0px rgba(102, 88, 160, 0.14);
    background-color: #f6f4f4;
    


}

.input-group{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap: 8px;
    cursor: pointer;
}   

.input-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    

    min-height: 32px;
    min-width: 32px;
    background-color: var(--azul03);
    color: #FFFFFF;
}


.input-field{
    width: 100%;
    border: none;
    background-color: transparent;
}

.input-field:focus{
    outline: none;
    font-family: var(--font-primary);
}