:root {
    --background-color: #F6F6F6;
    --background2-color: #FFFFFF;
    --azul01: #001D3F;
    --azul02: #0C326C;
    --azul03: #0052B5;
    --azul04: #0481BE;
    --preto: #0B0B0B;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

}   

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
    display: flex;
    background-color: var(--background-color);

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    width: 1000vw;
    height: 10vh;
    margin: 4vh 4vh 0vh 4vh;
    border-radius: 2.9vh;
    box-shadow: 
    -3px 11px 10px 2px rgba(191, 191, 191, 0.13), 
    -3px 7px 13px 0px rgba(191, 191, 191, 0.24), 
    -3px 5px 6px 0px rgba(102, 88, 160, 0.14);
    background-color: #ffffff;
    gap: 3vh;



    
}

.boxcontainer{

}

.botaoLogin{
    background-color: #0C326C;
    width: 7vw;
    height: 7vh; 
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
    cursor: pointer;

    border-radius: 1vh;
    font-size: 0.44rem;
    font-family: var(--font-primary)
}

.botaoLogin:hover{
    background-color: var(--azul03);
    transition: 1s;
    box-shadow: 
    -3px 11px 10px 2px rgba(191, 191, 191, 0.13), 
    -3px 7px 13px 0px rgba(191, 191, 191, 0.24), 
    -3px 5px 6px 0px rgba(102, 88, 160, 0.14);
}

#imglogo{
    width: 7vh;
    height: 7vh;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    gap: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 0.9em;
    font-family: var(--font-primary);
}

