:root {
    --background-color: #F6F6F6;
    --background2-color: #FFFFFF;
    --azul01: #001D3F;
    --azul02: #0C326C;
    --azul03: #0052B5;
    --azul04: #0481BE;
    --preto: #0B0B0B;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

}   

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

header{
    background-image: linear-gradient(rgb(26, 26, 26), rgb(32, 32, 32));
    color: var(--background-color);
    font-family: var(--font-primary);

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vh;
    height: 20vh;

}

#login{
    font-family: var(--font-secondary);
}

#pesquisadores{
    display: flex;
    align-items: center;
    font-size: 2vh;
    height: 20vh;
    margin-left: 10vh;
    gap: 10vh;
    text-align: center;
}
