*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
    
    background-color: var(--background-color);
    height: 1000vh;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    min-height: 10vh;
    margin: 4vh;
    padding: 10px 20px;
    border-radius: 2.9vh;
    box-shadow: 
        -3px 11px 10px 2px rgba(191, 191, 191, 0.13), 
        -3px 7px 13px 0px rgba(191, 191, 191, 0.24), 
        -3px 5px 6px 0px rgba(102, 88, 160, 0.14);
    background-color: #ffffff;
    gap: 20px;
    flex-wrap: nowrap; 
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imglogo {
    width: auto;
    height: 7vh;
    max-height: 60px;
    display: block;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
    list-style: none;
    gap: 5px; 
}

.nav li {
    display: flex;
    align-items: center;
}

.nav li:not(:last-child)::after {
    content: "-";
    color: #262626;
    font-weight: bold;
    margin-left: 5px; 
    margin-right: 5px; 
    font-family: var(--font-primary);
}

.nav li a {
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 15px; 
    text-decoration: none;
    color: #262626;
    font-family: var(--font-primary);
    font-size: 0.85rem;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;
    white-space: nowrap; 
}

.nav li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #0C326C;
    border-bottom: 2px solid #0C326C;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.5s;
}

.nav li a:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: linear-gradient(to bottom left, #012956, #0C326C);
    transform: scale(0);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

.nav li a:hover {
    color: #fff;
}

.nav li a:hover:before {
    transform: scaleY(1);
    opacity: 1;
}

.nav li a:hover:after {
    transform: scaleY(1);
    opacity: 1;
}


.botaoLogin {
    background-color: #0C326C;
    width: auto;
    min-width: 60px;
    max-width: 100px;
    padding: 0 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
    cursor: pointer;
    border-radius: 1vh;
    font-size: 1.1rem;
    font-family: var(--font-primary);
    transition: 0.3s;
    gap: 10px;
}

.botaoLogin:hover {
    background-color: var(--azul03);
    transform: scale(1.05);
    box-shadow: 
        -3px 11px 10px 2px rgba(191, 191, 191, 0.13), 
        -3px 7px 13px 0px rgba(191, 191, 191, 0.24), 
        -3px 5px 6px 0px rgba(102, 88, 160, 0.14);
}

.botaoLogin i {
    font-size: 1rem;
}

.txtBotaoLogin {
    font-size: 1rem;
}